

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bree+Serif&family=Cormorant+SC&family=Nunito:wght@200;300;400;600;700&family=Playfair+Display&family=Poppins:wght@400;500;600;700&display=swap');

.signup_container {
	width: 100%;
	min-height: 100vh;
	background: url('./index1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	place-content: center;
	font-family: 'Berkshire Swash', cursive;
}

.signup_form_container {
	width: 35vw;
	/* height: 45vh; */
	display: flex;
	flex-direction: column-reverse;
	border-radius: 20px;
	background-color: #BF7B35;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #BF7B35;
	/* border-radius: 20px; */
	padding: 0 10px;
	padding-bottom: 2rem;
	border-radius: 10px;
}

.left h1 {
	margin-top: 0;
	color: black;
	font-size: 25px;
	align-self: center;
	padding: 10px 0;
}

.right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #BF7B35;
	/* border-radius: 20px; */
	border-bottom: 2px solid black;
	border-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	border-radius: 20px;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	width: 80%;
	padding: 15px;
	margin: 5px 0;

	background: linear-gradient(179.43deg, #bb6f39 11.93%, #401e07 80.94%);
    border: 3px solid #ECB360;
    border-radius: 31px;
    color: #ECB360;
	font-weight: 700;
	font-size: 1rem;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: black;
	border-radius: 5px;
	text-align: center;
}

.white_btn,
.green_btn {
	outline: none;
	padding: 12px 0;
	background: linear-gradient(179.43deg, #5f2e0b 11.93%, #401e07 80.94%);
    border: 3px solid #ECB360;
    border-radius: 31px;
	width: 180px;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	color: #ECB360;
}

.green_btn {
	color: #ECB360;
	margin: 10px;
}

.white_btn{
	background: linear-gradient(179.43deg, #5f2e0b 11.93%, #401e07 80.94%);
    border: 3px solid #ECB360;
    border-radius: 31px;
	padding: 12px;
	color: #ECB360;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

@media screen and (max-width:768px) {
	.signup_form_container{
		flex-direction: column-reverse;
		height: auto;
	}

	.form_container{
		padding: 10px;
	}


	.form_container h1{
		font-size: 20px;
	}

	.left{
		padding-bottom:  10px;
	}

}

@media screen and (max-width:500px) {
	.signup_form_container{
		flex-direction: column-reverse;
		height: auto;
		width: 90vw;
	}

	.form_container{
		padding: 10px;
	}


	.form_container h1{
		font-size: 20px;
	}

	.left{
		padding-bottom:  10px;
	}

	.left h1{
		font-size: 16px;
	}

	.input{
		width:90%;
	}
}