.messenger {
   height: 100%;
  display: flex;
  /* background: white; */
  color: white;
  /* color: #000; */
  background: linear-gradient(179.43deg, #1c1814 11.93%, #401e07 80.94%);
  border: 3px solid #BF7B35;
  border-radius: 10px;
}

.chatMenuLeft{
  flex: 0.3;
  border-right: 1px solid #BF7B35;
  /* background: lightgray; */
}

.noConversationText{
  font-size: 1rem;
}

.chatMenuRight{
  flex: 0.3;
  /* background: lightgray; */
}

.chatMenuHeading{
  width: 100%;
  text-align: center;
  font-size: 35px;
  border-bottom: 1px solid #BF7B35;
}
/* 
.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
} */

.activeChat:active{
  background-color: #BF7B35;
}

.activeChat.active{
  background-color: #BF7B35;
}

.chatBox {
  flex: 0.4;
  border-right: 1px solid #BF7B35;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
  /* padding: 0 20px; */
  
}

.chatBox::-webkit-scrollbar{
  display: none;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  /* position: relative; */
}

.chatBoxTop {
  height: 100%;
  /* overflow-y: scroll; */
  /* padding-right: 10px; */
}

.chatBoxBottom {
  margin-top: 5px;
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 30px;

}

.chatMessageInput {
  width: 100%;
  height: 60px;
  padding: 10px;
  background: linear-gradient(179.43deg, #5f2e0b 11.93%, #401e07 80.94%);
    border: 3px solid #ECB360;
    border-radius: 31px;
    color: #ECB360;
    margin-left: 1rem;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ECB360;
  background: linear-gradient(179.43deg, #5f2e0b 11.93%, #401e07 80.94%);
    border: 3px solid #ECB360;
    border-radius: 31px;
  margin-left: 1rem;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  /* padding: 10px; */
  height: 100%;
}

/* .chatMenuWrapperRight{
  position: absolute;
  right: 0;
  top:50px
} */

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 1.5rem;
  color: rgb(224, 220, 220);
  cursor: default;
  left: 35%;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}
