
.mainContainer{
    display: flex;
    font-family: 'Berkshire Swash', cursive;
}

.leftContainer{
    flex: 0.35;
    border: 2px solid #BF7B35;
    margin: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.notesContainer{
    position: absolute;
    background-color: #d3d3d3;
    padding: 20px;
    color: #BF7B35;
    width: fit-content;
    height: max-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: "Berkshire swash",cursive;
    border-radius: 20px;
    display: none;
}

.notesContainer>h3{
   text-align: center;
}

.notesContainerUl{
    margin: 10px auto;
    padding: 0;
    /* max-width: 500px; */
}

.notesContainerUl>li{
    display: flex;
    color: #1c1814;
    align-items: center;
    margin: 10px 0;
    border-bottom: 3px solid #BF7B35;
}

.notesContainerUl li>span{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    align-self: start;
}

.linkContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkContainer>span{
    color:#69492a;
}

.notesContainerUl li span>img{
    width: 100%;
   border-radius:10px;
}



.singlestudentProfileContainer{
   
    /* border-right: 1px solid whitesmoke; */
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #BF7B35;
    padding: 0 2rem; 
    max-height: 84vh;
    overflow-y:scroll;
 
}
.singlestudentProfileContainer::-webkit-scrollbar{
    display: none;
}

.downloadPdf{
    position: absolute;
    right: 5px;
    top: 65px;
    display: flex;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    background: linear-gradient(179.43deg, #1c1814 11.93%, #401e07 80.94%);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #BF7B35;
}

.downloadPdf .MuiSvgIcon-root{
    width: 50px;
    font-size: 35px;
}

.studentAnalyticsContainer{
    flex: 0.65;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
    max-height: 90vh;
    overflow-y: scroll;
}

.studentAnalyticsContainer::-webkit-scrollbar{
    display: none;
}


.performanceTitle{
   align-self: flex-start;
   margin-left: 15%;
   font-size: 25px;
    font-family: 'Berkshire' cursive;
    margin-top: 10px;
    margin-bottom: -20px;
    font-weight: 600;
}

.profileTitle{
    align-self: flex-start;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Berkshire' cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.time-analysis{
    background-color: white;
    width: 60% !important;
    padding: 20px;
    border-radius: 20px;
}

.score-analysis{
    background-color: white;
    width: 60% !important;
    padding: 20px;
    border-radius: 20px;
    margin: 1rem 0 !important;
}

.userAvatar{
    width: 50%;
    border-radius: 50%;
    margin-top: 20px;
    /* margin: 0 auto; */
}

.userAvatar img{
    width: 100%;
    border-radius: 50%;
}

.infoContainerStudent{
    align-self: baseline;
    /* margin-left: 5%; */
}

hr.hr-17 {
    width: 100%;
    border: 0;
    height: 0;
    box-shadow: 0 0 5px 2px  white;
  }
  
  hr.hr-17:after {
    content: "\00a0";
  }
  

.basicInfoStudent{
    /* margin-left: 10%; */
    width: 100%;
    font-size: 20px;
}

.basicInfoSpan{
    min-width: 150px;
    display: inline-block;
}

