.teacher-notes{
    position: absolute;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
  /* background: white; */
  background-color: #d3d3d3;
  /* color: #000; */
  color: black;
  border: 3px solid #BF7B35;
  border-radius: 10px;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50vw;
  display: none;
}

.heading{
    display: flex;
}

.note-item{
    border-bottom: 2px solid #BF7B35;
    display: flex;
}

.note-item img{
    width: 5rem;
    height: 5rem;
}

.note-content{
    padding: 1rem;
}

.file-input{
    position: absolute;
    background: linear-gradient(179.43deg, #1c1814 11.93%, #401e07 80.94%);
    border: 3px solid #BF7B35;
    color: #BF7B35;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30vw;
    padding: 1.25rem;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: none;
    border-radius: 30px;
}

.file-input input{
    width: 100%;
    margin: 1.5rem;
}