@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bree+Serif&family=Cormorant+SC&family=Nunito:wght@200;300;400;600;700&family=Playfair+Display&family=Poppins:wght@400;500;600;700&display=swap');

.teacher-analytics {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../components/Login/index.jpg');
    font-family: 'Berkshire Swash', cursive;
    color: #BF7B35;
}

.student-list {
    margin: 2rem;
    margin-bottom: 10px;
    border: 3px solid #BF7B35;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background: linear-gradient(179.43deg, #1c1814 11.93%, #401e07 80.94%);
    flex: 0.25;
    width: 80%;
    /* min-height: fit-content; */
    max-height: 85vh;
    overflow-y: scroll;
}

.student-list::-webkit-scrollbar{
    display: none;
}

.student-analysis {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex: 0.5;
    width: 100%;
    max-height: 90vh;
    overflow-y: scroll;
}
.student-analysis::-webkit-scrollbar{
    display: none;
}

.time-analysis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
}

.score-analysis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:2rem 0;
    margin-top: 0;
}

.studentListItem {

    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.25rem;
    border-bottom: 2px solid #BF7B35;
}

.studentListItem:hover{
    cursor: pointer;
    background-color: #BF7B35;
    color: #401e07;
    border-radius: 20px;
}

.studentListItem:active{
    cursor: pointer;
    background-color: #BF7B35;
    color: #401e07;
}

.student-panel {
    flex: 0.25;
    margin: 2rem;
    margin-bottom: 10px;
    border: 3px solid #BF7B35;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(179.43deg, #1c1814 11.93%, #401e07 80.94%);
    flex: 0.25;
    width: 80%;
    min-height: fit-content;
    padding: 2rem;
    font-size: 1.25rem;
}